.footer {
    text-align: center;
    padding: 50px 0;
    color: $color-footer-text;
    background-color: $color-footer-background;
}

.copyright,
.footer-logo {
    text-align: center;
}

.copyright {
    margin-bottom: 20px;
}

.footer-site-title {
    margin: 0;
}