.header {
    background-color: $color-header;
    color: $color-white;
}

.logo {
    float: left;
}

.main-menu {
    float: right;
    height: 80px;

    ul, li {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .menu > li > a {
        @include menu-link-underline-from-center();
    }

    .menu > li:hover {
        @include menu-item-hover-underline-from-center();
    }

    li {
        float: left;
        position: relative;

        a {
            line-height: 80px;
            display: inline-block;
            padding: 0 25px;
            color: $color-white;
        }

        > ul {
            opacity: 0;
            visibility: hidden;
            background-color: $color-header;
            position: absolute;
            top: 80px;
            left: 0;
            width: 200px;
            transition: all .2s ease-in-out;
            z-index: 1;

            li {
                width: 100%;
                border-bottom: 1px solid lighten($color-header, 10);
                &:first-child {
                    border-top: 1px solid lighten($color-header, 10);
                }
                &:last-child {
                    border-bottom: none;
                }

                a {
                    width: 100%;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    line-height: normal;
                }

                > ul {
                    top: -1px;
                    left: 100%;
                }
            }
        }

        &:hover > ul {
            opacity: 1;
            visibility: visible;
        }
    }
}
