@import "../../bower_components/hover/scss/options";
@import "../../bower_components/hover/scss/mixins";
@import "../../bower_components/hover/scss/hacks";

@import "../../bower_components/hover/scss/effects/border-transitions/underline-from-center";
@import "../../bower_components/hover/scss/effects/border-transitions/underline-from-left";

@mixin menu-link-underline-from-center($border-height: 3px) {
    @include underline-from-center();
    &:before {
        height: $border-height;
    }
}

@mixin menu-item-hover-underline-from-center {
    &:hover > a:before {
        left: 0;
        right: 0;
    }
}

@mixin menu-link-underline-from-left($border-height: 3px) {
    @include underline-from-left();
    &:before {
        height: $border-height;
    }
}