a:hover {
    text-decoration: none;
}

.block-header {
    text-align: center;
}

.block-title {
    font-size: 30px;
    margin: 0;
    margin-bottom: 15px;
}

.block-description {
    margin: 0;
    margin-bottom: 15px;
}

.item-service {
    text-align: center;

    .icon {
        font-size: 30px;
    }
}

.block-sep {
    margin: 20px auto 60px auto;
    width: 280px;
    height: 1px;
    position: relative;

    &:before,
    &:after {
        display: block;
        position: absolute;
        width: 16px;
        height: 16px;
        top: -8px;
        content: '';
        border-radius: 50%;
    }

    &:before {
        left: 0;
    }

    &:after {
        right: 0;
    }
}

.services {
    padding-top: 70px;
    padding-bottom: 100px;
}

.service-description {
    margin-top: 18px;
    margin-bottom: 34px;
}

.button,
.button-service {
    font-size: 1.1rem;
    padding: 11px 30px;
    border-radius: 2px;
}

.primary-color {
    background-color: #475a85;
    color: #fff;

    .block-sep,
    .block-sep:before,
    .block-sep:after {
        background-color: #fff;
    }

    .button,
    .button-service {
        color: #fff;
        background-color: #ea5b58;
    }
}