//=====override

// scaffolding
$line-height-base: 1.5;
$font-family-base: "Open Sans", sans-serif;

// type
$headings-font-weight: 700;

//=====custom
$color-primary: #475a85;
$color-white: #fff;
$color-red: #ea5b58;

$color-header: #0d0b11;
$color-block-features: #161828;