.portfolios {
    padding-top: 90px;
    padding-bottom: 20px;

    .portfolios-items {
        margin-bottom: 40px;
    }

    .portfolios-filter {
        text-align: center;
        font-size: 18px;
        font-size: 1.8rem;
        margin-bottom: 40px;

        .portfolios-filter-link {
            color: $color-text-light;
        }

        .portfolios-filter-active {
            color: $color-text-dark;
        }
    }

    .portfolio-item {
        text-align: center;
        position: relative;

        &:hover {
            .portfolio-item-rollover {
                opacity: 1;
            }
        }
    }

    .portfolio-item-rollover {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100.1%;
        transition: opacity .5s;
        background-color: $color-portfolio-hover;
        color: $color-white;

        &:before {
            display: inline-block;
            content: '';
            vertical-align: middle;
            height: 100%;
        }
    }

    .portfolio-item-content {
        display: inline-block;
        vertical-align: middle;
        padding: 10px;
        height: auto;
        width: 90%;
    }

    .portfolio-item-title,
    .portfolio-item-description {
        margin-top: 0;
        margin-bottom: 20px;
    }

    .portfolio-item-icon {
        font-size: 40px;
        line-height: 1em;
    }
}